#footerimg{
    justify-content: space-between;
    align-content: flex-start;
}
.links{
   display: block ;
   text-align: left;
   text-decoration: none;
   color: black;
   

}
.footer{
    /* margin-top: 100px; */
    position:static;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:#ddebe6;
}
.footerimg{
    margin-left: 20px;
}